[Desktop Entry]
Name=Doom III
Comment=Doom 3 for linux
Comment[pl]=Doom 3 dla Linuksa
Comment[et]=Doom 3 Linuksile
Exec=doom3
Icon=doom3
Terminal=false
Type=Application
Categories=Game;FirstPersonGame;
# vi: encoding=utf-8
